{% block media_widget %}
    {% if data is not empty %}
        <div class="media_block">
            <div class="img-thumbnail">
                <img src="{{ media(data) }}" title="{{ data.reference }}" width="150px" />
                {% if form.remove is defined %}<div>{{ form_widget(form.remove) }}</div>{% endif %}
            </div>
        </div>
        <div class="clearfix">&nbsp;</div>
    {% endif %}
    {{ form_widget(form.binary) }}   
{% endblock media_widget %}
